In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

keywords are the reserved words in python and cant be used as an identifier

In [2]:
print(keyword.kwlist) # list al keywords

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist) # len function is used to know the no of keywords present in

36

In [4]:
1var=10 # identifier can't start with number

SyntaxError: invalid syntax (1521661254.py, line 1)

In [6]:
True=19 #keyword can't use as identifier name

SyntaxError: cannot assign to True (175721078.py, line 1)

In [7]:
val2@=35 # identifier can't use special symbols instead of underscore

NameError: name 'val2' is not defined

In [8]:
# single line comment

In [9]:
''' multiline comment
 hello python!
 how are you?
'''

' multiline comment\n hello python!\n how are you?\n'

In [11]:
p=20
q=20
r=p
print(p,type(p),id(p),hex(id(p)))
print(q,type(q),id(q),hex(id(q)))
print(r,type(r),id(r),hex(id(r)))

20 <class 'int'> 140560723798928 0x7fd6d802eb90
20 <class 'int'> 140560723798928 0x7fd6d802eb90
20 <class 'int'> 140560723798928 0x7fd6d802eb90

In [12]:
p=20
p=p+10 # variable overwriting
p

30

#variable assignment

In [13]:
intvar =10 # integer variable
floatvar=2.57 # float variable
strvar = 'python language' # string variable
print(intvar,floatvar,strvar)

10 2.57 python language

In [14]:
intvar,floatvar,strvar =10 ,2.57,'python language' #using commas to seperate the variables
floatvar=2.57 
strvar = 'python language' 
print(intvar,floatvar,strvar)

10 2.57 python language

In [15]:
p1=p2=p3=p4=44 # all variables poiting to the same value
print(p1,p2,p3,p4)

44 44 44 44

DATA TYPES

In [16]:
a=10 #integer data type
print(a)
print(type(a)) # type fxn is used to indicate the data types of object
print(sys.getsizeof(a)) # size of integer objets in bytes
print(a, "is integer?", isinstance(a, int)) # a is an instance of int

10
<class 'int'>
28
10 is integer? True

In [17]:
b=92.78
print(b)
print(type(b))
print(sys.getsizeof(b))
print(b, "is float?",isinstance(b,float))

92.78
<class 'float'>
24
92.78 is float? True

In [19]:
c=10+20j # complex datatype
print(c)
print(type(c))
print(sys.getsizeof(c))
print(c,'is complex?', isinstance(c,complex))

(10+20j)
<class 'complex'>
32
(10+20j) is complex? True

In [20]:
# get size of integer object in bytes
sys.getsizeof(int())

24

In [21]:
#getsize of float object in bytes
sys.getsizeof(float())

24

In [22]:
#get size of complex object in bytes
sys.getsizeof(complex())

32

#BOOLEAN

In [23]:
bool1=True
bool2=False
print(type(bool1),type(bool2))

<class 'bool'> <class 'bool'>

In [26]:
isinstance(bool1,bool)

True

In [27]:
isinstance(bool2,bool)

True

In [28]:
bool(0)

False

In [29]:
bool(1)

True

In [30]:
bool(None)

False

In [31]:
bool(False)

False

# STRING

In [32]:
str1='hello python'
print(str1)

hello python

In [33]:
str2="Hello world" # define string using double quotes
print(str2)

Hello world

In [34]:
str3='''hello  
python
I am harsh
Trying to learn coding''' # define string using triple quotes
print(str3)

hello
python
I am harsh
Trying to learn coding

In [35]:
str4=""" hello
world
how are you?""" # define string using tripple double quotes
print(str4)

 hello
world
how are you?

In [36]:
str5=('Happy' # no space
     'Monday'
     'Everyone')
print(str5)

HappyMondayEveryone

In [38]:
str6=('Happy ' # no space
     'Monday '
     'Everyone ')
print(str6)

Happy Monday Everyone

In [40]:
str7="wohoo "
str7= str7*5
str7

'wohoo wohoo wohoo wohoo wohoo '

In [41]:
len(str7)

30

# string indexing

In [42]:
str1

'hello python'

In [43]:
str1[0]  #first character

'h'

In [45]:
str1[1] # second character

'e'

In [46]:
for i in str1:
    print(i)

h
e
l
l
o

p
y
t
h
o
n

In [49]:
str1[len(str1)-1] # fetch last character in string

'n'

In [51]:
str1[-1] # last character in string

'n'

In [52]:
str1[8]

't'

In [54]:
len(str1)

12

In [57]:
str1[12]

IndexError: string index out of range

# string slicing

In [58]:
str1[0:5] # fetch all character from 0 to (5-1) index

'hello'

In [59]:
str1[6:12]  # fetch all character from 6 TO 11 index

'python'

In [61]:
str1[-4:] # retreive last four characters of the string

'thon'

# update and Delete string

In [62]:
str1

'hello python'

In [64]:
str1[0:5]='india' # string is immutable

TypeError: 'str' object does not support item assignment

In [66]:
del str1 # delete a string
print(str1)

NameError: name 'str1' is not defined

# string concatenation

In [68]:
s1="hello"
s2="asif"
s3=s1 + " " + s2
print(s3)

hello asif